vbox, label
{
    background-color: #000000;
    color: #ffffff;
}

label
{
    font-size: 1.5em;
}

entry
{
    border-radius: 0.7em;
}

button, * ~ vbox
{
    background-color: #1a1919;
    color: #ffffff;
    border-radius: 0.4em;
}